.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.tiger{
  background-image: url(https://i.postimg.cc/wTTBnYRg/bgpicture.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
  color: white;
  text-align: right;
}
.tiger h1{
  font-size: 64px;
}
.tiger p{
  font-size: 30px;
}
.tcontent{
  margin: 170px;
}
.navbar1{
  /* position: fixed; */
  background: transparent;
  height: 127px;
  position: sticky;
  top: 0;
  z-index: 100;
}
.navs{
  text-decoration: none;
  font-weight: 600;
  margin: 10px;
  font-size: 20px;
  color: white;
}
.navbar1.active{
  /* background: linear-gradient(90deg,rgb(108, 194, 2) 0%,rgb(0, 194, 74) 100%); */
  background: rgb(0, 0, 0);
}
.bttn{
  width:170px;
  height: 55px;
  border-radius: 17px;
}
#explore{
  font-size: 20px;
  font-weight: 700;
  color: black;
}